= form_for @property do |f|
  = f.label :unit_number, 'Unit Number'
  = f.text_field :unit_number, disabled: true

  = f.label :street_number, 'Street Number'
  = f.text_field :street_number, disabled: true

  = f.label :street_name, 'Street Name'
  = f.text_field :street_name, disabled: true

  = f.label :suburb, 'Suburb'
  = f.text_field :suburb, disabled: true

  = f.label :state, 'State'
  = f.text_field :state, disabled: true

  = f.label :postcode, 'Postcode'
  = f.text_field :postcode, disabled: true

.form-actions
  = link_to "Edit", edit_property_path(@property.id), class: "btn"
  = link_to "Show All", properties_path, class: "btn pull-right"